
.container 
    .about_content_wrapper 
        img.about_img(src="img/about_img.png", alt="notebook picture")
        .about_text_wrapper 
            h3.about_title Обо мне
            p.about_text. 
             Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я обновлю в нём свой контент. А пока посмотрите, как тут всё классно!
            h3.about_title чем могу быть полезен
            ul.tech_list 
                li.tech_item Верстка сайтов
                li.tech_item Frontend
                li.tech_item UI/UX дизайн 
                li.tech_item NoCode Разработка сайтов и мобильный приложений 
                
