.delete-button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: $fontSize;
    line-height: 1.25em;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    width: 113px;
    height: 30px;
    padding: 13px 20px;
    background-color: #c93535;
    border-radius: 57px;
   

    &:hover,
    &:focus {
        background-color: #e81f1f;
    }
    &:active {
        background-color: #a01717;
    }
}