mixin post-pagination-button 
    .post-pagination-button-container 
        .post-pagination-button-button.button-left  
            a.pagination-button-link(src="#") Назад
        .post-pagination-button-button.button-right  
            a.pagination-button-link(src="#") Вперед