extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
    - var title = 'Главная страница';
    - var pageClass= "index-page";

block content
    include ./../sections/header.pug
       

    include ./../sections/section_about.pug
    include ./../sections/section_newprojects.pug


    footer.footer
        h1 Footer